a {
  cursor: pointer;
}
.btn-group {
  float: right;
  justify-content: center;
  width: 8vw;
  align-items: center;
}
img {
  border-radius: 50%;
  height: 20%;
  width: 50%;
  padding-right: 5%;
}
#desplegable {
  width: 20vw;
  height: 4vh;
  justify-content: center;
}
